* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.8);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.social-icons img {
    width: 24px;
    margin-left: 10px;
    opacity: 1;
}


.social-icons a {
    position: relative; 
    display: inline-block; 
}

.icon {
    width: 24px;
    transition: opacity 0.3s ease;
}

.icon.default {
    position: relative; 
}

.icon.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
}


a:hover .icon.default {
    opacity: 0; 
}

a:hover .icon.hover {
    opacity: 1; 
}


.theme-section {
    padding: 100px;
    margin-top: 60px;
}

.theme-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05); 
}

.card-content {
    padding: 15px;
}

.card-content h3 a{
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.card-content p {
    font-size: 14px;
    color: #666;
}


.card-content:hover h3 a,
.card-content:hover p {
    color:  #ff8c18;
    transition: color 0.2s ease;
    text-decoration: none;
}

a{
    text-decoration: none;
}
